.current-pizza__section {
    position: relative;
    text-align: center;
    margin-top: 40px;

    .pizza-title-price {

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 30px;
            font-weight: 600;
        }

        @media (max-width: 510px) {
            h2, p {
                font-size: 20px;
            }
        }
    }


    img {
        margin-block: 20px 0;

        @media (max-width: 510px) {
            width: 230px;
            height: 230px;
        }
    }

    h3 {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;

        @media (max-width: 510px) {
            font-size: 20px;
        }
    }

    button {
        font-size: 16px;
        margin-top: 30px;
        font-weight: 500;

        @media (max-width: 510px) {
            font-size: 14px;
        }
    }
}

.current-pizza__loading {
    text-align: center;
    padding-top: 35px;
}